.chatroom-header-container {
    display: flex;
    justify-content: space-between;
}

.chatroom-list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #E8E8E8;
    height: 100%;
    padding: 10px;
}

.chatroom-container {
    border-radius: 10px;
    padding: 30px;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chatroom-container:hover {
    background-color: #d1d1d1;
}

.chatroom-container .chatroom-name {
    font-size: 18px;
    font-weight: bold;
    color: #686868;
}

.chatroom-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.new-message-counter {
    background-color: #ffbd44;
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-message-counter.hidden {
    display: none;
}

.img-add {
    width: 100%;
    height: 100%;
}

.chatroom-content-container .message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.latest-message-date {
    width: 100%;
    font-size: 14px;
}