* {
    padding: 0;
    margin: 0;
}

.chatroom-list-header {
    padding: 10px;
    background-color: rgba(30, 121, 82, 1.0);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.chatroom-list-header-side-container {
    display: inline-flex;
    gap: 10px;
}

.chatroom-list-header-side-container > div {
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
}

.chatroom-list-header-side-container > div:hover {
    background-color: rgba(30, 121, 82, 0.6);
}

.chatroom-list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #E8E8E8;
    height: 100%;
    padding: 10px;
}

.chatroom-container:hover {
    background-color: #d1d1d1;
}

.chatroom-container {
    border-radius: 10px;
    padding: 30px;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chatroom-container span {
    color: #686868;
}

.chatroom-header-container {
    display: flex;
    justify-content: space-between;
}

.chatroom-content-container {
    display: flex;
    justify-content: space-between;
}

.new-message-counter {
    background-color: #ffbd44;
    padding: 10px 15px;
    border-radius: 50%;
    color: white;
}

.hidden {
    display: none;
}
