.sidebar-chat-root * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.sidebar-chat-root > div {
    height: 100%;
    overflow-y: auto;
}

.sidebar-chat-root button {
    border-radius: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}

.sidebar-chat-root {
    z-index: 10;
    width: 0;
    height: 100%;
    overflow: hidden;
    background-color: #E8E8E8;
    position: fixed;
    right: 0;
}

.chatroom-list-header {
    height: 60px;
    position: sticky;
    top: 0;
    padding: 10px;
    gap: 10px;
    background-color: var(--themeGreen);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.chatroom-list-header-sub-container {
    display: inline-flex;
    gap: 10px;
}

.chatroom-list-header-sub-container.middle {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.btn-chat-page-toggle {
    width: 40px;
    height: 40px;
}

.color-theme {
    background-color: var(--themeGreen);
}

.img-right-toggle,
.img-left-arrow {
    width: 100%;
    height: 100%;
}