* {
    box-sizing: border-box;
}

.root {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat-content {
    padding: 10px;
    border-radius: 10px;
    background-color: #E8E8E8;
}

.chat-list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 500px;
    overflow-y: auto;
}

.chat-container-wrapper {
    display: flex;
    width: 100%;
}

.chat-container-wrapper.left {
    justify-content: left;
}

.chat-container-wrapper.right {
    justify-content: right;
}

.chat-container {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: right;
}

.chat-container .chat {
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
    color: #161616;
    font-family: bold;
    color: #686868;
    background-color: white;
}

.chat-container-wrapper.left .chat-container .chat {
    margin-left: 0;
    margin-right: auto;
}

.chat-container-wrapper.right .chat-container .chat {
    margin-left: auto;
    margin-right: 0;
}

.chat-container-wrapper .chat-container .chat-date {
    color: #686868;
}

#inputMessage {
    width: 100%;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #C7C7C7;
    outline: none;
    text-align: right;
}

.chat-input-container {
    display: flex;
    flex: 5 1 auto;
    padding: 5px 0px;
}

.btn-message-send {
    padding: 10px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #C7C7C7;
    border-left: none;
    color: #C7C7C7;
    background-color: white;
    outline: none;
    cursor: pointer;
}

.btn-chatroom-exit {
    padding: 10px;
    border-radius: 10px;
    background-color: #6BB092;
    color: white;
    border: none;
    cursor: pointer;
}