*{
    margin: 0;
    padding: 0;
}

@media (min-width: 1024px) {
    .container {
        display: grid;
        grid-template-rows: 1fr 4fr 0.5fr;
        grid-template-columns: 200px 6fr;
        grid-template-areas:
        "header header header header"
        "aside content content content"
        "footer footer footer footer";
        min-height: 100vh;
        gap: 10px;
    }
    .header {
        margin-top: 10px;
        grid-area: header;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .header-menu {
        min-height: 30%;
        display: grid;
        grid-template-columns: 200px 1fr 1fr 1fr 1fr 2fr;
        height: 25%;
        gap: 7px;
    }
    .header-top {
        display: flex;
        justify-content: space-between;
    }
    .logo {
        min-width: 20%;
        min-height: 10vh;
    }
    .logout-box {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        min-width: 10%;
        min-height: 100%;
        cursor: pointer;
    }
    .aside {
        display: flex;
        flex-direction: column;
        grid-area: aside;
        background-color: rgba(0,0,0,0.08);
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.02);
        gap: 10px;
        padding: 20px 18px 0 5px;
    }
    .selected {
        background-color: rgba(30, 121, 82, 0.6);
    }
    .menu.selected.dropdown:hover,
    .menu.selected.dropdown {
        background-color: rgba(30, 121, 82, 0.6);
    }
    .content {
        grid-area: content;
    }

    .mark {
        min-width: 100%;
        min-height: 100%;
        background-position: 50% 50%;
        background-size: 130% 180%;
        background-image: url('/assets/medivision_logo.png');
    }
    .diselected-mobile{
        display: none;
    }
}

@media (max-width: 1023px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .header {
        display: flex;
        flex-direction: column;
    }
    .header-top {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .logo {
        width: 40vh;
        height: 13vh;
    }
    .logout-box {
        display: none;
    }
    .aside {
        display: none;
    }
    .diselected-side-menu {
        display: flex;
        height: 3vh;
    }
    .mark {
        min-width: 100%;
        min-height: 100%;
        background-position: 50% 50%;
        background-size: 130% 180%;
        background-image: url('/assets/medivision_logo.png');
    }
}

.logout-img {
    width: 30px;
    height: 30px;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url('/assets/exit.png');
    margin-right: 5px;
}

.logout-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

.menu {
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(30, 121, 82, 1.0);
    display: flex;
    color: rgba(255, 255, 255, 1);
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
}

.selected,
.option {
    cursor: pointer;
}

.option:hover {
    background-color: rgba(30, 121, 82, 0.6);
}

.diselected-side-menu {
    display: flex;
}

.side-menu {
    min-width: 90%;
    min-height: 100%;
    display: flex;
    gap: 30px;
    justify-content: end;
}

.side-menu-icon {
    min-width: 8%;
    min-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.side-menu-icon-chat {
    cursor: pointer;
    background-image: url('/assets/chat.png');
}

.side-menu-icon-bell {
    background-image: url('/assets/bell.png');
    cursor: pointer;
}

.dropdown-title {
    justify-self: center;
    align-self: center;
}

.dropdown-content-box {
    top: 100%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu.selected.dropdown {
    position: relative;
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    color: black;
    padding: 10px 13px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.menu.selected.dropdown:hover .dropdown-content-box {
    display: block;
}

.dropdown-content-a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    display: block;
    padding: 5px;
}

.aside-content {
    padding-left: 5px;
    display: flex;
    align-items: center;
    color: white;
    height: 7%;
    min-width: 100%;
    background-color: rgba(30, 121, 82, 1);
    cursor: pointer;
}

.aside-content:hover {
    background-color: rgba(30, 121, 82, 0.6);
}
.footer {
    grid-area: footer;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    gap: 10px;
    padding: 10px 20px;
}
.footer-left {
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 18px;
    font-weight: 400;
}
.footer-right {
    min-width: 50%;
}