body{
    width: 800px;
    margin:auto;
    margin-top: 30px;
}

table{
    width:100%;
    border-spacing: 0px;
    border-collapse: collapse
}

#th-1{
    width: 10%;
}
#th-2{
    width : 20%
}
#th-3{
    width : 40%
}
#th-4{
    width: 25%;
}

#th-5{
    width : 5%;
}

th{
    height: 30px;
    background-color : rgba(30, 121, 82, 1.0);
    color : white;
}

td{
    height: 30px;
    color : black;
    text-align: center;
}

tr{
    border : 1px solid black;
}

tr:hover >td{
    background-color: rgba(30, 121, 82, 0.6);
}

div#content-container{
    height: 250px;
    background-color: #E8E8E8;
    border-radius: 10px;
    overflow-y: scroll;
    padding: 20px;
}

textarea{
    width: 100%;
    background-color: #E8E8E8;
    border: none;
    resize: none;
    font-size: 1.2em;
    margin-bottom: 10px;
}

textarea:focus{
    outline:none;
}

a{
    color: dimgrey;
}

input[type="submit"],
input[type="button"]{
    margin-top: 10px;
    width: 70px;
    height: 30px;
    border : none;
    border-radius: 5px;
    font-size: 1em;
}

#close{
    text-align: center;
    display: none;
}

#spare-report{
    margin-right: 5px;
}

input[type="button"]{
    margin-right: auto;
    background-color: dimgrey;
    color: white;
}

input[type="submit"]:hover,
input[type="button"]:hover,
table:hover{
    cursor: pointer;
}

thead:hover{
    cursor : default;
}

#report{
    background-color: rgba(30, 121, 82, 1.0);
    color:white;
    border: none;
}

#spare-report{
    margin-left : 300px;
}

#report{
    margin-left : 5px;
}

#close-button{
    margin-left: 270px;
}

.update{
    width: 30px;
    height: 20px;
    font-size: 1.6em;
    border : none;
    border-radius: 10px;
    padding-bottom: 30px;
}

.update:hover{
    cursor:pointer;
    color:  rgba(30, 121, 82, 0.6);
    background-color: white;
}

.update-button:hover + td{
    background-color: white;
}




