body{
    width: 800px;
    margin:auto;
    margin-top: 30px;
}

table{
    width:100%;
}

#th-1{
    width: 20%;
}
#th-2{
    width : 20%
}
#th-3{
    width : 30%
}
#th-4{
    width: 30%;
}

th{
    height: 30px;
    background-color : #00673B;
    color : white;
}

td{
    height: 30px;
    background-color : #F1F1F1;
    color : black;
    text-align: center;
}


div#content-container{
    height: 250px;
    background-color: #E8E8E8;
    border-radius: 10px;
    overflow-y: scroll;
    padding: 20px;
}

textarea{
    width: 100%;
    background-color: #E8E8E8;
    border: none;
    resize: none;
    font-size: 1.2em;
    margin-botton: 10px;
}

textarea:focus{
    outline:none;
}

a{
    color: dimgrey;
}

input[type="submit"],
input[type="button"]{
    margin-top: 10px;
    width: 80px;
    height: 40px;
    border : none;
    border-radius: 5px;
    font-size: 1.2em;
}

input[type="button"]{
    margin-right: auto;
    background-color: dimgrey;
    color: white;
}

input[type="submit"]:hover,
input[type="button"],
#tr1,#tr2,#tr3{
    cursor: pointer;
}

#report{
    background-color: #1E7952;
    color:white;
    border: none;
}

#close{
    display: flex;
    width: 800px;
}

#close-button{
    margin-left: auto;
}





