body{
    width: 800px;
    margin:auto;
    margin-top: 30px;
}

table{
    width:100%;
    border-spacing: 0px;
    border-collapse: collapse
}

#th-1{
    width: 20%;
}
#th-2{
    width : 20%
}
#th-3{
    width : 30%
}
#th-4{
    width: 30%;
}

th{
    height: 30px;
    background-color : #00673B;
    color : white;
}

td{
    height: 30px;
    color : black;
    text-align: center;
}

#tr1,#tr3{
    background-color : #F1F1F1;
}

#tr2{
    background-color : #FAFAFA;
}

div#content-container{
    height: 250px;
    background-color: #E8E8E8;
    border-radius: 10px;
    overflow-y: scroll;
    padding: 20px;
}

textarea{
    width: 100%;
    background-color: #E8E8E8;
    border: none;
    resize: none;
    font-size: 1.2em;
    margin-botton: 10px;
}

textarea:focus{
    outline:none;
}

a{
    color: dimgrey;
}

input[type="submit"],
input[type="button"]{
    margin-top: 10px;
    width: 80px;
    height: 40px;
    border : none;
    border-radius: 5px;
    font-size: 1.2em;
}

#spare-report{
    margin-right: 5px;
}

input[type="button"]{
    margin-right: auto;
    background-color: dimgrey;
    color: white;
}

input[type="submit"]:hover,
input[type="button"]:hover,
table:hover{
    cursor: pointer;
}

thead:hover{
    cursor : default;
}

#report{
    background-color: #1E7952;
    color:white;
    border: none;
}

#spare-report{
    margin-left : 300px;
}

#report{
    margin-left : 5px;
}

#close-button{
    margin-left: 240px;
}




